[Unit]
Description=algo_cta_4h_4-4

[Service]
Type=simple
WorkingDirectory=/usr/local/app/algo_cta_4h_4-4
ExecStart=/usr/local/app/algo_cta_4h_4-4/venv/bin/python3.12 main_entry.py
StandardOutput=syslog
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target